.commu-recipe-column {
    background-color: rgb(252, 251, 236);
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
  }

.commu-container {
    background-color: rgb(252, 251, 236);
    min-height: calc(100vh - var(--navbar-height));
}


.commu-filter {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    max-height: calc(100vh - var(--navbar-height) - 2rem);
    position: sticky;
    overflow-y: auto;
}

.commu-timecost-badge {
    background-color: #faf1d9 !important;
    color: #2b3c4b; 
}

.commu-filter-box {
    text-align: center;
} 

.commu-filter-box::placeholder {
    color: #888; 
    text-align: center;
    opacity: 1;  
}


.commu-search-input {
    padding-right: 35px;
    border-radius: 15px;
    width: 100%;
}
  
.commu-clear-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: gray;
}

.commu-card {
    transition: all 0.3s ease;
    border: none !important;  
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
  }
  
.commu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.commu-card-img {
    height: 185px;
    object-fit: cover;
    width: 100%; 
  }
  
  
.commu-taste-row {
    padding-left: 15px;
}