

.loading-img {
    width: 45vw; /* 设置宽度为屏幕的 100% */
    height: 65vh; /* 设置高度为屏幕的 100% */
    margin-left:0px;
    top: 0;
    left: 0;
  }


.loading-text{
    font-size: 30px;
    font-weight:800;
  }

  /* 文字滚动 */
  
.loading-text {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%; /* 占满容器宽度 */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%); /* 开始位置：视口右侧外部 */
  }
  100% {
    transform: translateX(-100%); /* 保持在结束位置 */
  }
}

.loading-text span {
  display: inline-block;
  padding-left: 100%; 
  animation: scroll-left 9s linear infinite;
 
}