.container-fluid{
    padding-left:60px;
    padding-right:60px;
}


/*  两种逻辑判断 */
.navbar-home {
    background-color: #2c3b4b00;
}

.navbar-other {
    background-color: #2c3b4b; /* 深色背景 */
    transition: background-color 2s ease; 
  }



.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 确保导航栏在最上层 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 可选：添加阴影以增强视觉效果 */
}

.nav-1 a{
    text-align: left;
    text-decoration: none;
    color:  rgb(252, 251, 236);
    font-size: 20px;
    font-weight:600;
    
}

.nav-1 a:hover{
    color: rgb(255, 123, 0);

}

.nav-1{
    margin-top:20px;
}



.robot-icon{
    text-decoration:none;
    margin-bottom: 5px;

}


.name{
    font-size:30px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(252, 251, 236);
    margin-bottom: 5px;
    display: inline-block; /* 确保文本宽度自适应内容 */
    
}


.name::after {
    content: '';
    display: block;
    width: 35%; /* 设置下划线的宽度 */
    height: 2px;
    background-color: rgb(252, 251, 236); /* 下划线的颜色 */
    /* margin: 7px auto 0 auto;  */

}


.right-side{
    margin-top:20px;
    font-size: 19px;
    color: rgb(252, 251, 236);
    font-weight: 600;
}


.register{
    /* font-size:20px; */
    text-decoration: none;
    /* font-weight: 700; */
    color: rgb(252, 251, 236);
}




.signin{
    /* font-size:20px;
    font-weight: 700; */
    text-decoration: none;
    color: rgb(252, 251, 236);

}


.register:hover{
    /* font-size:20px; */
    text-decoration: none;
    color:rgb(255, 123, 0);
}

.signin:hover{
    /* font-size:20px; */
    text-decoration: none;
    color: rgb(255, 123, 0);
}

.logout{
    /* font-size:19px;
    font-weight: 700; */
    text-decoration: none;
    color:  rgb(252, 251, 236);

}


.logout:hover{
    color: rgb(255, 123, 0);
}

.dashboard{
    /* font-size:19px;
    font-weight: 700; */
    text-decoration: none;
    color:  rgb(252, 251, 236);

}

.dashboard:hover{
    color:rgb(255, 123, 0);
}
