.nav-1 a{
    text-align: left;
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    font-weight:600;
    
}

.nav-1 a:hover{
    color: rgb(255, 123, 0);

}

.nav-1{
    margin-left:0px;
    margin-top:20px;
}


.about{
    margin-left:20px;
}
.qa{
    margin-left: 70px;
}

.community{
    margin-left: 70px;
}

.fork-pic {
    width: 100%; /* 让图片父容器占满可用宽度 */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.fork-pic img {
    width: 12%; /* 控制图片的大小，保持其比例 */
    height: auto;
    margin-right: -20px;
}


.name{
    font-size:30px;
    font-weight: 800;
    text-decoration: none;
    color:black;
    
}


.line-break {
    border: none;         
    border-top: 1px solid #000 !important;  
    width: 10%;         
    margin: 10px auto;  
    color: rgb(204, 30, 30); 
}



.right-side{
    margin-top:20px;
    font-size: 19px;
    color:#000000;
    font-weight: 600;
}

.wc-txt{

}

.register{
    /* font-size:20px; */
    text-decoration: none;
    /* font-weight: 700; */
    color:#000000;
}




.signin{
    /* font-size:20px;
    font-weight: 700; */
    text-decoration: none;
    color:#000000;

}


.register:hover{
    /* font-size:20px; */
    text-decoration: none;
    color:rgb(255, 123, 0);
}

.signin:hover{
    /* font-size:20px; */
    text-decoration: none;
    color: rgb(255, 123, 0);
}

.logout{
    /* font-size:19px;
    font-weight: 700; */
    text-decoration: none;
    color: black;

}


.logout:hover{
    color: rgb(255, 123, 0);
}

