.qa-container {
  min-height: 100vh;
  background-color: rgb(252, 251, 236);
  margin-top: 71px;
  padding-top: 50px;
  padding-bottom: 48px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.qa-container.loaded {
  opacity: 1;
}

.qa-content {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 16px;
}

.qa-title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  color: #ff6b35;
  margin-bottom: 32px;
}

.qa-subtitle {
  color: #666;
  text-align: center;
  margin-bottom: 48px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(500px); /* 初始状态向下偏移 */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* 终点位置 */
  }
}

.faq-item {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  margin-top:40px;
  opacity: 0; /* 初始状态不可见 */
  animation: fadeInUp 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.faq-item.fade-in {
  animation-fill-mode: forwards;
}

.faq-item:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-button {
  width: 100%;
  padding: 16px 24px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 242, 242);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-button:hover {
  background-color: #f9fafb;
}

.faq-question {
  font-weight: 600;
  font-size:20px;
  color: #1f2937;
}

.faq-icon {
  color: #ff6b35;
}

.faq-answer {
  padding: 0 24px;
  transition: all 0.2s ease-in-out;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.faq-answer.open {
  padding: 16px 24px;
  max-height: 400px;
  opacity: 1;
  background-color: rgb(255, 255, 255);
}

.faq-answer p {
  color: #4b5563;
  line-height: 1.6;
  margin: 0;
}

.contact-info {
  margin: 48px;
  text-align: center;
}

.contact-text {
  color: #666;
}


.contact-section {
  background: #fff5e6;
  padding: 3rem 1rem;
  text-align: center;
  border-top: 2px solid #ff6b35;
  margin-top: 140px;
  opacity: 0; /* 初始状态不可见 */
  animation: fadeInUp 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.contact-title {
  font-size: 2rem;
  color: #2d2d2d;
  margin-bottom: 20px;;
}

.contact-description {

  font-size: 1rem;
  color: #4a4a4a;
  line-height: 1.5;
}

.contact-description .email-link {
  color: #ff6b35;
  text-decoration: none;
  font-weight: bold;
}

.contact-description .email-link:hover {
  text-decoration: underline;
  color: #d9534f;
}
